@model TmdLesson07Db.Models.tmdKhoa

@{
    ViewBag.Title = "TmdDetails";
}

<h2>Details</h2>

<div>
    <h4>tmdKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TmdTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TmdTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TmdTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TmdTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("TMD: Edit", "TmdEdit", new { id = Model.TmdKH }) |
    @Html.ActionLink("Back to List", "TmdIndex")
</p>
