@model Lap04_TMD.Models.Customer_TMD
@{
    ViewBag.Title = "Chi tiết khách hàng";
    //lấy dữ liệu truyền qua đối tượng theo cách 2
    //var customer = Model as Lab04.Models.Customer;
}

<h2>Chi tiết khách hàng lấy theo cách 1 </h2>
<p>Mã số: @Model.CustomerId_TMD </p>
<p>Họ và tên: @Model.FullName_TMD </p>
<p>Địa chỉ: @Model.Address_TMD </p>
<p>Điện thoại: @Model.Phone_TMD </p>
<p>Email: @Model.Email_TMD </p>
<p>Số tiền dư: @Model.Balance_TMD </p>

@*<h2>Chi tiết khách hàng lấy qua ViewBag</h2>
    <p>Mã số: @ViewBag.customer.CustomerId </p>
    <p>Họ và tên: @ViewBag.customer.FullName </p>
    <p>Địa chỉ: @ViewBag.customer.Address </p>
    <p>Điện thoại: @ViewBag.customer.Phone </p>
    <p>Email: @ViewBag.customer.Email </p>
    <p>Số tiền dư: @ViewBag.customer.Balance </p>*@

