@model TmdLesson11Db_2210900014.Models.TmdProduct

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Tmd2210900014Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TmdProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TmdProName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TmdProName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TmdQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TmdQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TmdPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TmdPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TmdActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TmdActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TmdCategory.TmdCateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TmdCategory.TmdCateName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "TmdIndex")
        </div>
    }
</div>
