@model TmdLap06._1.Models.TmdProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TmdProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TmdProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TmdProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TmdPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TmdPrice)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("TMD: Edit", "TmdEdit", new { id = Model.TmdProductId }) |
    @Html.ActionLink("Back to List", "TmdIndex")
</p>
