@model IEnumerable<TmdLesson09.Models.TmdKetqua>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TmdDiem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TmdMonHoc.TmdTenMH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TmdSinhVien.TmdHoSV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TmdDiem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TmdMonHoc.TmdTenMH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TmdSinhVien.TmdHoSV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
